body {
    background-image: url(./assets/img/blue.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 100vh;
    margin: 0;
    font-family: 'Numans', sans-serif;
  }
  
  p{
    font-family: 'Roboto';
  }
  .col-sidebar {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    width: 220px;
    position: absolute;
    left: 0;
    height: 97%;
  }

  .col-content {
    margin-left: 220px;
    padding: 20px;
  }

.nav-link {
    color: #fff;
}

.dropdown-toggle::after {
    display: none;
}

#pendientes {
    background: rgb(242,242,242);
    background: radial-gradient(circle, rgba(242,242,242,1) 0%, rgba(70,158,252,1) 100%);
}
.card-header {
background-color: #343a40;
}

.card-body {
background: rgb(166,217,228);
background: radial-gradient(circle, rgba(166,217,228,1) 0%, rgba(148,187,233,1) 100%);}


.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important;
    z-index: 1040;
}

.modal {
    z-index: 1050 !important;
}

.modal-open {
    overflow: hidden;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    z-index: 1050 !important;
}

.modal-backdrop {
    z-index: 1040 !important;
}

thead {
    background-color: rgb(72, 123, 199);
    font-size:larger;
}
.file{
    background-color: rgb(219, 231, 238);
}

th{
    text-align: center;
}


