@import url('https://fonts.googleapis.com/css?family=Numans');

html,
body {
    background-image: url(./assets/img/./task-list2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 450px;
    margin-top: 200px;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100%;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.button-container {
    position: relative;
}

.error-message {
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    max-width: calc(100% - 140px);
}

.google-login-button {
    display: flex;
    justify-content: center;
    align-items: center;

}

.google-login-button a {

    background-color: #fff;
    color: #737373;
    border: 1px solid #dcdcdc;
    border-radius: 9px;
    padding: 10px 15px;
    font-family: 'Numans', sans-serif;
    font-size: 14px;
    font-weight:bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
}

.google-login-button a:hover {
    background-color: #f8f8f8;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
}

.google-logo {
    background-image: url("./assets/img/google.png");
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.or-line-container {
  display: flex;
  align-items: center;
}

.or-line {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #ccc;
}

.or-text {
  margin: 0 10px;
  color: #999;
  font-size: 14px;
  font-weight: bold;
}
